<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Todo App</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form method="post">
                <div class="form-control">
                    <label for="username">Item</label>
                    <input type="text" class="form-input" name="item">
                </div>
                <button class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="list">
                <div class="row">
                    <h3>Item Name</h3>
                </div>
            </div>
        </div>
    </div>
</div>